<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutritionLite - Recuperar Senha</title>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/login.css">
    <meta name="description" content="Recupere sua senha do NutritionLite e continue acessando planos nutricionais personalizados e dicas de saúde.">
</head>
<body>
    <div class="container">
        
        <div class="form-box">
            <form action="#">
                <h1>Nova senha</h1>
                <div class="input-box">
                    <input type="email" placeholder="Digite sua nova senha" required>
                    <p></p>
                    <input type="email" placeholder="Confirme sua nova senha" required>
                    
                </div>
                <button type="submit" class="btn">Confirmar</button>
                <div class="forgot-link" style="margin-top: 18px;">
                    
                </div>
            </form>
        </div>
        <!-- AViso pra lenda -->
        <div class="toggle-box">
            <div class="toggle-panel toggle-left">
                <h1 style="color:#fff">Nova senha</h1 >
                <p>Cadastre sua nova senha.</p>
            </div>
        </div>
    </div>
    
</body>
</html>